// Small devices (landscape phones, 576px and up)
$small : 576px;

// Medium devices (tablets, 768px and up)
$medium : 768px;

// Large devices (desktops, 992px and up)
$large : 992px;

// Large Plus
$largeplus : 1024px;

// Extra large devices (large desktops, 1200px and up)
$xlarge : 1200px;

@media only screen {

  * {
    margin: 0px;
    padding: 0px;
  }

  html,
  body {
    height: 100%;
    text-align: center;
    font-family: courier;
    overflow: hidden;
  }

  #bg-container {
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
  }

  .fuzzy-container {
    padding: 10px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.75);
    display: inline-block;
    max-width: 80%;
    font-size:18px;
    overflow:visible;
  }

  #title {
    max-width: 400px;
    margin-left:auto;
    margin-right:auto;
  }
  #author {
    margin-top: 8px;
  }
  #excerpt {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  #message-box {
    margin-bottom: 20px;
  }

  .btn {
    background-color: white;
    padding: 6px;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    font-size: 80%;
  }

  #desc,
  #tags {
    margin-top: 20px;
  }

  #btns-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .btn-container {
    margin-top: 20px;
  }

  a.link {
    color: black;
  }
  a.link:hover,
  a.link:visited {
    text-decoration: underline;
  }

  #footer {
    margin-top: 40px;
    font-size: 60%;
  }

}

@media only screen and (min-width: $small){
  .fuzzy-container {
    max-width: 80%;
    font-size: 20px;
  }
}
@media only screen and (min-width: $medium){
  .fuzzy-container {
    max-width:70%;
    font-size: 20px;
  }
}
@media only screen and (min-width: $large){
  .fuzzy-container {
    max-width:60%;
    font-size:24px;
  }
}
@media only screen and (min-width: $largeplus){
  .fuzzy-container {
    max-width:50%;
    font-size: 18px;
  }
}
@media only screen and (min-width: $xlarge){
  .fuzzy-container {
    max-width:30%;
    font-size: 14px;
  }
}
